<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huzhijian.nexusagentweb.mapper.KnowledgeBaseFileMapper">

    <resultMap id="BaseResultMap" type="com.huzhijian.nexusagentweb.domain.KnowledgeBaseFile">
            <result property="knowledgeBaseId" column="knowledge_base_id" jdbcType="INTEGER"/>
            <result property="fileId" column="file_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="OTHER"/>
            <result property="failReason" column="fail_reason" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        knowledge_base_id,file_id,status,
        fail_reason
    </sql>
</mapper>
