<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huzhijian.nexusagentweb.mapper.McpInformationMapper">

    <resultMap id="BaseResultMap" type="com.huzhijian.nexusagentweb.domain.McpInformation">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="header" column="header" jdbcType="OTHER"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="logoUrl" column="logo_url" jdbcType="VARCHAR"/>
            <result property="available" column="available" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,url,
        description,header,user_id,
        type
    </sql>
    <insert id="saveBatch">
        insert into mcp_information (name, url, description, header, user_id, type, logo_url) values
        <foreach collection="list" item="item" separator=",">
         (#{item.name},#{item.url},#{item.description},#{item.header}::jsonb,#{item.userId},#{item.type},#{item.logoUrl})
        </foreach>
    </insert>
</mapper>
