<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huzhijian.nexusagentweb.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.huzhijian.nexusagentweb.domain.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="CHAR"/>
            <result property="avatarImg" column="avatar_img" jdbcType="VARCHAR"/>
            <result property="registerTime" column="register_time" jdbcType="TIMESTAMP"/>
            <result property="apiQuota" column="api_quota" jdbcType="SMALLINT"/>
            <result property="githubId" column="github_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,email,username,
        password,avatar_img,register_time,
        api_quota,github_id
    </sql>
</mapper>
